registry=http://npm-registry.seasungame.com/ # 基于项目配置npm 镜像源，这样做的好处就不需要依赖 cnpm 或者 nrm 改变全局镜像源了

save=true # 对于 npm 5 一下默认无参数安装时默认 --save

save-exact=true # 统一版本不会随着minor版本升级而变更。如果需要，请统一对某一个包进行update、upgrade操作。

loglevel=http # 日志级别使用 http， 这样我们就能知道哪些包安装比较慢，是否使用了缓存，是否需要翻墙才能解决。

# prefer-offline=true # 统一使用优先离线模式，评估收益，检验是否带来风险。
